.app-icon {
  display: flex;
  width: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.app-icon__img {
  width: 55%;
}

.app-icon__title {
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 0px 0px 6px #000000;
  text-overflow: ellipsis;
}
