.buttom-menu-background-blur {
  filter: blur(4px);
  position: absolute;
  background-color: #f0f8ff52;
  width: 100%;
  height: 100%;
  top: 1px;
  z-index: -1;
}

.buttom-menu-foreground-blur {
  backdrop-filter: blur(10px);
}
/* .button-bar-app-show-area__grid-container {
  z-index: 3;
} */
