$width-hor-ipad: 1024px;
$height-hor-ipad: 768px;

$width-ver-ipad: 768px;
$height-ver-ipad: 1024px;

$width-ver-iphone: 768px;
$height-ver-iphone: 568px;

// @media only screen and ()
.show-on-device {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.show-on-device__view-apps {
  display: grid;
  grid-template-rows: 25px 2fr 25px auto;
  align-content: first baseline;
  background-image: url('../../public/img/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  //   position: absolute;
  align-self: center;
  justify-self: center;
  width: $width-ver-iphone;
  height: $height-ver-iphone;
  z-index: -1;
}

div#wrapper-buttom-menu {
  backdrop-filter: blur(10px);
}

.view-control-panel {
  margin: 15px;
}

.view-control-panel > img {
  width: 25%;
  align-self: center;
  justify-self: center;
}

.view-control-panel > img.rotated {
  transform: rotate(90deg);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  padding: 10px;
  justify-content: space-between;
}
