* {
  margin: 0;
  padding: 0;
  transition: all 0.7s;
}

body {
  background-color: rgba(128, 128, 128, 0.76);
}

div#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96%;
  height: 96%;
  padding: 1% 1%;
}

.header {
  height: 1%;
  width: 100%;
}

.footer {
  height: 1%;
  width: 100%;
}
